################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Marketplace/Marketplace.Core/bin/Debug/net6.0
/Marketplace/Marketplace.Core/obj
/Marketplace/MarketPlace.Entities/bin/Debug/net6.0
/Marketplace/MarketPlace.Entities/obj
/Marketplace/Marketplace.Repository/bin/Debug/net6.0
/Marketplace/Marketplace.Repository/obj
/Marketplace/MarketPlace.UnitTests/bin/Debug/net7.0
/Marketplace/MarketPlace.UnitTests/obj
/Marketplace/Marketplace.API/obj/Debug/net7.0
/Marketplace/.vs/Marketplace
